include LICENSE.txt
include README.md
recursive-include RigidFoilSimer/Tests/Assets/*.txt *.c *.wbjn
recursive-include RigidFoilSimer/AnsysFiles/*.wbjn *.wbpj *.c
recursive-include RigidFoilSimer/AnsysFiles/WorkbenchProjectTemplate_files/dp0/*.dat
