include LICENSE.txt
include README.md
recursive-include RigidFoilSimer/Tests/*
recursive-include RigidFoilSimer/Tests/Assets/*
recursive-include RigidFoilSimer/AnsysFiles/*
recursive-include RigidFoilSimer/AnsysFiles/WorkbenchProjectTemplate_files/dp0/*
